.ui-page {
    background-image:url("https://media.giphy.com/media/13bGgH9VnEDsuA/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.temp {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #ff0024;
    background-color: #fcfff6;
    text-align: center;
}

.summary {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #ff0024;
    background-color: #fcfff6;
    text-align: center;
}
.icon {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #ff0024;
    background-color: #fcfff6;
    text-align: center;
}