.ui-page {
    background-image:url("https://media.giphy.com/media/13bGgH9VnEDsuA/giphy.gif");
}

h2 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #44d871;
}